#parent {
  height: 120px; /* Removed quotes around height value */
  width: 380px; /* Removed quotes around width value */
  position: relative;
}

.cphoto {
  margin: auto;
  position: relative; /* Changed from fixed to relative */
  text-align: center; /* Center align the child elements */
  top: 28px;
}

.photo {
  position: absolute;
  top: 35px; /* Adjusted the top position */
  left: 50%; /* Center horizontally */
  transform: translateX(-50%); /* Center horizontally */
  border-radius: 50%;
  border-color: #000000;
}

.story-button {
  border: 1px solid rgb(240, 247, 134);
  width: 190px;
  height: 35px;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background-color: #5589f1;
  color: #ffffff;
  font-size: 18px;
  text-align: center;
  cursor: pointer;
  padding: "10px";
}

.edit-button {
  margin-left: 10px; /* Added to create space between buttons side by side */
  border: 1px solid rgb(255, 255, 255);
  width: 190px;
  height: 35px;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background-color: #c3cdd8;
  color: #000000;
  font-size: 18px;
  text-align: center;
  cursor: pointer;
  padding: "10px";
}

#button {
  height: 35px;
  width: 380px;
  margin-bottom: 50px;
}
.text {
  background-color: white;
  height: 70px;
  width: 380px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 18px;
}

.text p {
  margin: 0;
  font-size: large;
}
