* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 1em;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.background {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background-position: center;
  background-size: cover;
  background: url("photo.jpg");
  background-position: center;
  background-size: cover;
}
.box {
  position: relative;
  text-align: 0px 10px;
  padding: 42px;
  background: transparent;
  border-radius: 15px;
  border: 2px solid rgb(197, 239, 238);
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(15px);
}
.a1 {
  position: relative; 
  border-bottom: 2px solid rgb(197, 239, 238);
}
.a1 input {
  
  height: 42px;
  background-color: transparent;
  border: rgb(197, 239, 238);
  outline: rgb(197, 239, 238);
  padding: 10px 35px 0px 10px;
}
button {
  width: 100%;
  height: 35px;
  background-color: rgb(197, 239, 238);
  border: none;
  border-radius: 42px;
  font-size: 1em;
}
